jwt:
  secret: ${JWT_SECRET_KEY}
spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/ceos_vote?createDatabaseIfNotExist=true
    username: root
    password: Jyh0914@
  jpa:
    database: mysql
    database-platform: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        database-platform: org.hibernate.dialect.MySQL8Dialect
      show_sql: true
      format_sql: true
    defer-datasource-initialization: true
  sql:
    init:
      mode: always